<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The best cloud management system around.">
		<meta name="author" content="Colby Reinhart">

		<title>Nimbus Cloud</title>

		<link rel="stylesheet" href="/static/css/global.css">
		<link rel="stylesheet" href="/static/css/directory.css">

		<script src="https://kit.fontawesome.com/e4862ea8a4.js" crossorigin="anonymous"></script>
		<script defer src="/static/js/file-explorer.js"></script>
	</head>
	<body>
		<!-- Title / navbar -->
		<div id="titlebar">
			Nimbus
			<hr>
		</div>

		<!-- Folders / Files -->
		<div id="explorer">

			{{#each links}}
			<a class="resource" href="/{{this.path}}">
				{{#if this.is_dir}}
					<i class="fa-solid fa-folder"></i>
				{{else}}
					<i class="fa-solid fa-file"></i>
				{{/if}}

				<p>{{this.name}}</p>
			</a>
			{{/each}}

		</div>
	</body>
</html>
