/* --- Color Pallette --- */

:root {
	--background: #E1E1E1;
	--rose-quartz: #F6D4D2;
	--lilac: #EDD1FA;
	--periwinkle: #9FA8EB;
	--blue-iris: #9FA8EB;
}

/* --- General global styles --- */
* {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}